.allBox {
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:1.5fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 50px 1fr 1fr .75fr 1fr 1.25fr;
    background-color: black;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

#navBar {
    display: grid;
    grid-column: 2 / span 4;
    grid-row-start: 1;
    border: 2px solid black;
    background: #424242;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

#navList {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    margin: 10px;
}

#imgBox {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
#hangImg {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}


#leftSide {
    display: grid;
    grid-column: 1;
    grid-row: 1 / span 6;
    background-color: #141414;
    align-content: center;  
}
#rightSide {
    display: grid;
    grid-column: 6;
    grid-row: 1 / span 6;
    background-color:#141414;
    align-content: center;
} 

#sideBanner {
    text-align: center;
    font-size: 50px;
    color: red;

}


#imgBox {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 2/ span 3;
}



#scoreBoard {
    position: relative;
    display: grid;
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}
#scoreHeader{
    grid-column:1 /span 2;
    grid-row:1;
}
#scoreBoardContent{
    display: grid;
   grid-column: 1 / span 2;
   grid-row: 2;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
}

#playerScoreInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#playerScore {
    display: block;
    width: 60%;
    height: 60%;
    background-color: black;
    color: red;
    text-align: center;
    font-size: 100px;
}

#scoreName {
    font-size: 20px;
    font-weight: bold;
}
#compName {
    font-size: 20px;
    font-weight: bold;
}
#compInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#compScore {
    display: block;
    width: 60%;
    height: 60%;
    background-color: black;
    color: red;
    text-align: center;
    font-size: 100px;
}


#playerInfo {
    display: block;
    grid-column: 4/ span 2;
    grid-row: 2 / span 2;
    justify-content: center;
}
h1 {
    text-align: center;
    margin: 40px;
}
#playerName {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
#topic {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
#playerInput {
    width: 65%;
}
#topicInput {
    width: 65%
}
li {
    margin: 10px 0;
    font-size: 14px;
}

#chosenWord {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 6;
    justify-content: center;
}

#chosenWord div {
    display: flex;
    font-size: 20px;
    justify-content: space-around;   /* border-bottom: 2px solid black; */
    align-self: start;
    color: white;
    /* text-decoration: underline;
    text-decoration-color: black;
     */
}

.invisibleWord {
    border-bottom: 2px solid black;
}

#nextGame {
    position: relative;
    display: grid;
    grid-column: 4 / span 2;
    grid-row: 6;
    font-size: 20px;
}
#nextGameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
#nextGameHeader {
    grid-column: 1 / span 2;
    grid-row: 1;
}
#nextRepName {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 2;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#nextButton {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
}
#newTopic {
    text-align: center;
}
#letterBox {
    display: grid;
    grid-column: 2  / span 2;
    grid-row: 5;
    text-align: center;
}


#letConBox {
    height: 100px;
    margin: auto auto;
    justify-content: center;
}

.clickLetter {
    width: 34px;
}


.black {
    color: black;
}

#replayButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

#replay {
    width: 100%;
}